<div class="container">


  <div class="row">
    <div class="input-group col-md-10 ">
      <input type="text" class="form-control" placeholder="Search Products" aria-label="Search Products"
             aria-describedby="basic-addon2" [(ngModel)]="searchText" #searchQuery>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchProducts(searchQuery)">Search</button>
      </div>
    </div>
  </div>
</div>


<div class="container">


  <div class="row">


    <div class="col-md-5" *ngFor="let product of products">


      <app-view-products [productElement]="product" (onPDisplay)="productDisplayed($event)" [productName]="product.name">



        <div class="thumbnail border">

          <img class=" img-thumbnail border" src="https://image.shutterstock.com/image-vector/lcd-tv-monitor-vector-illustration-260nw-154257524.jpg" alt="" height="100%" width="100%"/>
          <!--<img class="border" src="{{product.imgUrl}}" alt="" height="50" width="50"/>-->

          <div class="caption">

            <b class="group inner list-group-item-heading">
              Product title : {{product.name}} </b>

            <div class="row">
              <div class="col-md-8">
                <p class="lead">
                  Price :{{ product.price | currency }}</p>
                <button class="btn btn-primary" (click)="testOnChange(product)">Test OnChange</button>
              </div>


            </div>


          </div>
        </div>


      </app-view-products>


    </div>

  </div>
</div>

<button class="btn btn-primary" (click)="checkObservable()">Test checkObservable</button>

