<!--<div>-->
<!--<input type="text" [(ngModel)]="appName"/>-->

<!--This is our {{appName}} aplication ::-->
<!--</div>-->


<!--<app-add-product>-->
<!--&lt;!&ndash;by html element&ndash;&gt;-->
<!--</app-add-product>-->


<!--<poc-component>-->

<!--</poc-component>-->
<!--&lt;!&ndash;<p app-add-product></p>-->
<!--By Attribute...-->
<!--&ndash;&gt;-->

<!--&lt;!&ndash;<p class="app-add-product">-->
<!--as a css class.-->
<!--</p>&ndash;&gt;-->


<!--<app-dashboard>-->


<!--</app-dashboard>-->


<router-outlet>

</router-outlet>
