<ng-content>



</ng-content>


<div class="thumbnail border">

  <img class="group list-group-image" src="{{product.imgUrl}}" alt="" height="50" width="50"/>
  <!--<img class="border" src="{{product.imgUrl}}" alt="" height="50" width="50"/>-->

  <div class="caption">

    <h4 class="group inner list-group-item-heading">
      Product title : {{product.name}} </h4>

    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          Price :{{ product.price | currency }}</p>
      </div>

    </div>


  </div>
</div>
