<p>
  add-product works!
</p>


  <div class="form-group">
    <label for="exampleInputproductName1">productName</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" id="exampleInputproductName1" aria-describedby="productNameHelp" placeholder="Enter productName">
    <small id="productNameHelp" class="form-text text-muted">We'll never share your productName with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputproductPrice1">productPrice</label>
    <input type="text" [(ngModel)]="product.price" class="form-control" id="exampleInputproductPrice1" placeholder="productPrice">
  </div>

  <div class="form-group">
    <label for="exampleInputproductPrice1">productUrl</label>
    <input type="text" [(ngModel)]="product.url"  class="form-control" id="exampleInputproductUrl1" placeholder="productUrl">
  </div>


  <button type="submit" class="btn btn-primary" (click) ="addProduct()">Submit</button>

<br>
<br>
<br>

{{product.name}}||
{{product.price}}||
{{product.url}} ||
<br>
<br>
<br>
Error:
{{error}}
