<div class="row justify-content-center">
  <div class="col-sm-5">
    <div class="input-group mb-3">
      <input [(ngModel)]= "searchQuery" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
             aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchSoaps()">Search</button>
      </div>
    </div>
  </div>
</div>


<app-view-product-group [products]="soaps" [displayStyle]="'grid'"> </app-view-product-group>


